@font-face {
    font-family: 'Libre Barcode 39 Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/librebarcode39text/v24/sJoa3KhViNKANw_E3LwoDXvs5Un0HQ1vT-0H0h5K2dnIag.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bungee/v6/N0bU2SZBIuF2PU_0DXR1C9zfmQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .header {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size:xx-large;
    background-image: url(/egg-gang/images.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: solid red;
}



  .header h1 {
  grid-column: 3 / span 2;
}

  .navbar {
    grid-column: 6 / span 1;
  }



  @media only screen and (max-width: 545px) {
    .header h1 {
      font-size: x-large;
    }
  }
.main {
  font-family: 'Bungee', cursive;
  border: solid green;
  display: flex;
  flex-direction: column;
  width: 100%;

}

  .mission {
    background-image: url(/egg-gang/tanya3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px; 
    background-position: top right;
    border: solid orange;
  }

  .mission .content {
    position: relative;
    top: 250px;
    text-align: end;
    padding: 0 10px;
    font-size: 30px;
    color: rgb(143, 27, 27);
    border: solid red;
  }

  .merch h2 {
   text-align: center;

  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    flex-basis: 50%;
  }

  @media only screen and (max-width: 1035px) {
    .header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .header h1 {
      width: 100%;
      text-align: center;
  
    }
    .navbar {
      flex-direction: row;
      width: 100%;
      text-align: center;
      display: flex;
    }
  
    .navbar p {
      width: 33%;
    }
  
    .mission .content {
      font-size: 20px;
    }
    }



    